
@{
    ViewData["Title"] = "AddSale";
}

<h2>AddSale</h2>

<body>
    @*<form asp-action="AddSale" method="post">
        <p>
            <label asp-for="SalesTotal">Sales Total:</label>
            <input asp-for="SalesTotal" />
        </p>
        <p>
            <label asp-for="DateEntered">Date Entered:</label>
            <input asp-for="DateEntered" />
        </p>
        <p>
            <label asp-for="SalesDate">Sales Date:</label>
            <input asp-for="SalesDate" />
        </p>
        <button type="submit" value="AddEvent" class="btn btn-dark">Submit</button>

    </form>

    <p>
        <a asp-action="ShowAllEvents">Show Events</a>
    </p>*@



</body>
