<h2>Edit Sale</h2>
<h4>Sale</h4>
<hr />
@*<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="SalesID" />
            <div class="form-group">
                <label asp-for="SalesTotal" class="control-label"></label>
                <input asp-for="SalesTotal" class="form-control" />
                <span asp-validation-for="SalesTotal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateEntered" class="control-label"></label>
                <input asp-for="DateEntered" class="form-control" />
                <span asp-validation-for="DateEntered" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateEntered" class="control-label"></label>
                <input asp-for="DateEntered" class="form-control" />
                <span asp-validation-for="DateEntered" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-outline-primary" />
            </div>
        </form>
    </div>
</div>*@
