


    <table class="table ">
        <thead>
            <tr>
                <th>
                    <!--Html.DisplayNameFor(model => model.SaleID)-->
                    Margaret
                </th>
                <th>
                    <!--Html.DisplayNameFor(model => model.SaleTotal)-->
                    Joanna
                </th>
                <th>
                    <!--Html.DisplayNameFor(model => model.DateEntered)-->
                    Matt
                </th>
                <th>
                    <!--Html.DisplayNameFor(model => model.SaleDate)-->
                    Angelica
                </th>
                <th>
                    Cody
                </th>
                <th>
                    Katy
                </th>
                <th>
                    Guch
                </th>
                <th>
                    Rick
                </th>
                <th>
                    Jessica
                </th>
                <th>
                    Steve W
                </th>
                <th>
                    Steve G
                </th>
                <th>
                    Mikey C
                </th>
                <th>
                    Nolan
                </th>
            </tr>

        <tbody>

            {
                <tr>
                    <td>
                       Today
                    </td>
                    <td>
                       Current Week
                    </td>
                    <td>
                        Total
                    </td>
                    <td>
                      Previous Week
                    </td>
                    <td>
                     Last Year Month
                    </td>
                    <td>
                       Current Week
                    </td>
                    <td>
                        Current Month
                    </td>
                    <td>
                        Distance
                    </td>
                </tr>

            }

        </tbody>

    </table>
